/* Padding 0 */
.padd{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.padd-reverse{
	padding-right: 15px;
    padding-left: 15px;
}

.d-block{
    display: block;
}

/* Text Align */
.t-center{
    text-align: center;
}
.t-left{
    text-align: left;
}
.t-right{
    text-align: right;
}
.t-bottom{
    text-align: bottom;
}


/* Floats */
.float-right{
	float:right;
}
.float-left{
	float:left;
}

/* Margins */
.mg-auto{
    margin: auto;
}
.mg-0{
    margin: 0px;
}
.mr-0{
    margin-right: 0px;
}
.mt-0{
    margin-top: 0px;
}
.ml-0{
    margin-left: 0px;
}
.md-0{
    margin-bottom: 0px;
}


.mg-10{
    margin: 10px;
}
.mg-20{
    margin: 20px;
}
.mg-30{
    margin: 30px;
}
.mg-40{
    margin: 40px;
}


.mr-10{
    margin-right: 10px;
}
.ml-10{
    margin-left: 10px;
}
.mt-10{
    margin-top: 10px;
}
.md-10{
    margin-bottom: 10px;
}


.mr-20{
    margin-right: 20px;
}
.ml-20{
    margin-left: 20px;
}
.mt-20{
    margin-top: 20px;
}
.md-20{
    margin-bottom: 20px;
}


.mr-30{
    margin-right: 30px;
}
.ml-30{
    margin-left: 30px;
}
.mt-30{
    margin-top: 30px;
}
.md-30{
    margin-bottom: 30px;
}


.mr-40{
    margin-right: 40px;
}
.ml-40{
    margin-left: 40px;
}
.mt-40{
    margin-top: 40px;
}
.md-40{
    margin-bottom: 40px;
}

.mr-50{
    margin-right: 50px;
}
.ml-50{
    margin-left: 50px;
}
.mt-50{
    margin-top: 50px;
}
.md-50{
    margin-bottom: 50px;
}

.mr-60{
    margin-right: 60px;
}
.ml-60{
    margin-left: 60px;
}
.mt-60{
    margin-top: 60px;
}
.md-60{
    margin-bottom: 60px;
}



/* Padding */
.padright-0{
    padding-right: 0px !important;
}
.padleft-0{
    padding-left: 0px !important;
}
.padtop-0{
    padding-top: 0px !important;
}
.padbottom-0{
    padding-bottom:0px !important;
}

.pad-0{
    padding: 0px;
}
.pad-10{
    padding: 10px;
}
.pad-20{
    padding: 20px;
}
.pad-30{
    padding: 30px;    
}
.pad-40{
    padding: 40px;
}


.padtop-10{
    padding-top: 10px;
}
.padbottom-10{
    padding-bottom: 10px;
}
.padleft-10{
    padding-left: 10px;
}
.padright-10{
    padding-right: 10px;
}


.padtop-20{
    padding-top: 20px;
}
.padbottom-20{
    padding-bottom: 20px;
}
.padleft-20{
    padding-left: 20px;
}
.padright-20{
    padding-right: 20px;
}


.padtop-30{
    padding-top: 30px;
}
.padbottom-30{
    padding-bottom: 30px;
}
.padleft-30{
    padding-left: 30px;
}
.padright-30{
    padding-right: 30px;
}


.padtop-40{
    padding-top: 40px;
}
.padbottom-40{
    padding-bottom: 40px;
}
.padleft-40{
    padding-left: 40px;
}
.padright-40{
    padding-right: 40px;
}


.bord-0{
    border: none;
}






.pos-rel{
    position: relative;
}
.pos-abso{
    position: absolute;
}


.fontweight-1{
    font-weight: 100;
}

.fontweight-2{
    font-weight: 200;
}

.fontweight-3{
    font-weight: 300;
}

.fontweight-4{
    font-weight: 400;
}

.fontweight-5{
    font-weight: 500;
}

.fontweight-6{
    font-weight: 600;
}

.fontweight-7{
    font-weight: 700;
}

.fontweight-8{
    font-weight: 800;
}

.fontweight-9{
    font-weight: 900;
}

.w-100{
    width: 100%;
}


.color-red{
    color: crimson !important;
}
.d-center{
    display: block;
    margin: auto;
}

.width-fit-center{
    width: fit-content;
    margin: auto;
}


.d-flex{
    display: flex;
}

.d-jc-c{
    justify-content: center;
}

.d-ai-c{
    align-items: center;
}