.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 101;
    cursor: pointer;
    top: 0;
}
.bg-overlay{
    width: 100%;
    height: 100vh;
    background-color: rgb(20 20 20 / 50%);
}
.trans{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
/* Custom Modal */
button{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;

    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: white;
}
button:focus{
    outline: none !important;
    box-shadow: none !important;
}

.loader-spinner {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #2a1180;
    z-index: 999999999;
    overflow: hidden;
    visibility: visible;
    display: flex;
    justify-content: center;
}

.customModalBtn{
    cursor: pointer;
}
.customModal, .customModal .body .notification-item, .paginate a{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

/* Module Style */
.customModal .loader{
    position: absolute;
    width: 100%;
    height: calc(100% - 64px);
    z-index: 9999999999;
    background: #40ba37;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
}
.customModal .loader.active{
    display: flex;
}
.customModal {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 400px;
    background: white;
    margin: auto;
    height: fit-content;
    z-index: 999;
    opacity: 0;
}
.customModal.active{
    visibility: visible;
    opacity: 1;
}
.customModal .header{
    background-color: #40ba37;
    color: rgba(255,255,255,0.87);

    font-size: 20px;
    letter-spacing: .005em;
    box-sizing: border-box;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 64px;
    max-height: 64px;
    padding: 0 16px;
    margin: 0;

    justify-content: space-between;
}
.customModal .error {
    display:none;
    width: 100%;
    background-color: #dd2c00;
    padding: 8px 16px;
    color: white;
}
.customModal .close-button{
    padding: 10px 20px;
    border-radius: 50%;
}
.customModal .close-button:hover{
    background-color: #40404059;
}

.customModal .body{
    padding: 24px;
    max-height: 600px;
    overflow: auto;
    overflow-x: hidden;
}

.customModal .body button{
    color: rgba(255,255,255,0.87);
    background-color: #40ba37;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    font-size: 14px;
    font-weight: 700;
    position: relative;
}
.customModal .body button:disabled,
.customModal .body button[disabled], 
.customModal .body button[disabled]:hover,
.customModal .body button:disabled:hover{
    background-color: #afadad;
    color: gainsboro;
}
.customModal .body button:hover{
    background-color: #2d8427;
}
.customModal .body span{
    font-size: 14px;
}
.customModal .body .form-control {
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ced4da;
    padding: .375rem 0px;
}
.customModal .body .form-control:focus {
    border-bottom: 2px solid #2d8427;
    box-shadow: none;
}

.customModal .body .form-group label{
    transition: all .2s ease-in;
    margin-bottom: 0px;
}
.customModal .body .form-group.error-input input{
    border-bottom: 2px solid #dd2c00;
}
.customModal .body .form-group.error-input label{
    color: #dd2c00;
}
.customModal .body .notification-item{
    display: block;
    padding: 24px 10px;
    border: 1px solid #e3e3e3;
}
.customModal .body .notification-item .title{
    font-size: 16px;
    margin-bottom: 0px;
    font-weight: 600;
}
.customModal .body .notification-item .notification-body{
    margin-bottom: 0px;
    font-size: 14px;
}
.customModal .body .notification-item .notification-date{
    font-size: 10px;
    margin-bottom: 0px;
}
.customModal .body .notification-item.unread,.customModal .body .notification-item:hover{
    background-color: #eaeaea;
}


@media (max-width: 992px) {
    .customModal {
        width: 100% !important;
        height: 100%;
    }
    .customModal .body {
        height: calc(100% - 64px);
        max-height: 100%;
    }
}
@media (max-width: 768px){
    .customModal .body {
        padding: 24px 10px;
    }
}

.a{
    color: #40ba37 !important;
    border-bottom: 1px solid;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: inline-block;
    font-size: 14px;
}
.a:hover{
    opacity: .6;
}


/* Custom Checkbox */
/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 18px;
  }
  
  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkbox-container .checkmark {
    box-sizing: border-box;
    transition: .24s;
    position: absolute;
    top: calc( ( 100% - 20px ) / 2);
    border: 0;
    left: 0px;
    width: 20px;
    height: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(0,0,0,0.54);
}
  
  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #40ba37;
    border-color: transparent;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
    border-color: rgba(255,255,255,0.87);
     box-sizing: border-box;
      transform: rotate(45deg);
      position: absolute;
      left: 4.66667px;
      top: .22222px;
      display: table;
      width: 6.66667px;
      height: 13.33333px;
      border-width: 2px;
      border-style: solid;
      border-top: 0;
      border-left: 0;
  }
  
  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
      content: "";
  }
/* Custom Modal End */




/* Pagination */

.paginate{
    display: flex;
    justify-content: center;
}
.paginate a {
    color: black !important;
    border: 0px;
    font-size: 14px;
    border-radius: 12px;
    margin-right: 8px;
}

.paginate a:hover, .paginate a.active {
    color: white !important;
    background-color: #5f76e8;
}

@media (max-width: 768px) {
    .paginate {
        float: none !important;
        display: flex;
        justify-content: center;
    }
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: #33ff0c;
    -webkit-transition: .4s;
    transition: .4s;
}
  
  input:checked + .slider {
    background-color: white;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px white;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);
}
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /* Custom Radio Button */
/* The container */
.container-radio {
    width: fit-content;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark-radio {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark-radio {
    background-color: #ca982c;
}
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark-radio:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark-radio:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}