@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
    color:black;
}

a{
    color: black !important;
    text-decoration: none ;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
ol, ul {
     padding-left: 0rem
;
}
img {
    max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
    margin-bottom: 0px;
}

a:focus, a:hover, a{
    text-decoration: none !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.web-color-1 {
    color: #2a1180 !important;
}
.web-color-bg-1 {
    background-color: #2a1180 !important;
}

.web-grey-color {
    color: #777777;
}


.trans, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link, .destination .overlay-des{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    font-weight: 700;
    color:rgb(42, 17, 128) !important;
}
.destination .overlay-des:hover {
    background-color: rgb(0 0 0 / 0%);
}

/* Reuse Button */
.web-button {
    text-align: center;
    background: white;
    color: black;
    font-weight: 800;
    border-radius: 100px;
    padding: 8px 36px !important;
    max-width: 250px;
}

.web-button:hover {
    background: linear-gradient(#60d2f0, #5cdfba);
    color: white !important;
}

.web-button-fill {
    text-align: center;
    background: #2a1180;
    color: white !important;
    font-weight: 400 !important;
    border-radius: 100px;
    padding: 8px 36px !important;
    max-width: 212px;
    border: 2px solid #2a1180;
}

.web-button-fill:hover {
    background: white;
    color: #2a1180 !important;
}

.web-button-border {
    text-align: center;
    background: white;
    color: linear-gradient(#60d2f0, #5cdfba) !important;
    font-weight: 400 !important;
    border-radius: 100px;
    padding: 8px 36px !important;
    max-width: 250px;
    border: 2px solid;
}

.web-button-border:hover {
    background-color: linear-gradient(#60d2f0, #5cdfba) !important;
    color: white !important;
}


/* Site Style */
.headbar {
    background-color: #2A1180;
    padding: 15px 0px;
}
.headbar .container{
    display: flex;
    justify-content: space-between;
}
.headbar .social-info {
    display: flex;
    align-items: center;
}
.headbar .social-info .social-icons{
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid #6B6092;
}
.headbar  .social-info .social-icons a {
    color: white !important;
    margin-right: 6px;
    font-size: 20px;
}

.headbar .social-info .mail a{
    color: white !important;
}
.headbar .contact-info a{
    color: white !important;
}



.logo{
    width: 165px;
}

#navbarNav{
    justify-content: right;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55);
    font-size: 13px;
    text-align: center;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #2a1180 !important;
    font-weight: 700;
}
.header {
    position: relative;
    margin-bottom: 40px;
}
.sliders .slider-item{
    height: auto;
    width: 100%;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}
.sliders .slider-item .content-t{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.sliders .slider-item .content-t h3, .sliders .slider-item .content-t h4{
    text-align: center;
}
.sliders .slider-item .content-t h3{
    font-size: 50px;
    font-weight: 200;
}
.sliders .slider-item .content-t h4{
        font-size: 38px;
    font-weight: 600;
}

.section{
    margin-bottom: 40px;
}
.section .section-header-title{
    margin-bottom: 40px;
}
.section .section-header-title h5{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.section .section-header-title hr{
        height: 3px;
    width: 88px;
    text-align: center;
    margin: auto;
    background-color: #2A117F;
    opacity: 1;
}
.section.subscribe{
        background-color: #f5f5f5;
}
.section.subscribe .container {
    background-color: #f5f5f5;
    padding: 40px 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section.subscribe .headings{
        display: flex;
    align-items: center;
}
.section.subscribe .icon{
        width: 80px;
    margin-right: 20px;
}
.section.subscribe input[type="text"] {
    height: 55px;
    background: white;
    border: 1px solid #D7DCE3;
    padding: 0px 15px;
    margin: 0px;
    border-radius: 0px;
    width: 350px;
}
.section.subscribe .form input[type="submit"]{
    height: 55px;
    background-color: #29107F;
    color: white;
    border: 0px;
    padding: 0 35px;
}
.section.subscribe .form form{
    display: flex;
}
footer{
    margin-top: 80px;
}
footer .logowrp{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .logowrp img{
    width: 350px;
}
footer .navwrp h4 {
    color: #1A2B48;
    padding: 0 0 30px;
    font-size: 18px;
    position: relative;
}
footer .navwrp h4:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background: #f5f5f5;
    bottom: 20px;
    left: 0;
}
footer ul{
    list-style-type: none;
}
footer ul li{
    margin-bottom: 20px;
}
footer .copy div{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 300;
}

footer .need-help ul li {
    border-left: 6px solid #4800e2;
    height: 58px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .need-help ul li span {
    margin-bottom: 3px;
    font-size: 15px;
}
footer .need-help ul li .social i{
    color: #b8bec4cf !important;
    font-size: 20px;
    margin-right: 10px;
}
footer .need-help ul li .social{
        margin-top: 6px;
}

.tour {
    position: relative;
     margin-bottom: 20px;
    box-shadow: 0px 6px 10px -1px #888888;
}
.tour .image{
    position: relative;
    height: 200px;
    background-position: center;
    background-size: cover;
}
.tour .content{
    padding: 10px;
    min-height: 150px;
}
.tour .image .price{
    background-color: #29107F;
    color: white;
    width: fit-content;
    padding: 6px 26px;
    position: absolute;
    top: 12px;
}
.tour .content h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
.tour .content div i{
        margin-right: 6px;
}
.tour .content a{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #29107F;
    color: white !important;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
    padding: 10px 0px;
}

.destination {
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    margin-bottom: 20px;
}
.destination .overlay-des {
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 29%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white !important;
    font-weight: 600;
    font-size: 23px;
}
.st-tour-feature {
    padding-top: 25px;
    padding-bottom: 15px;
    border-top: 1px solid #D7DCE3;
    border-bottom: 1px solid #D7DCE3;
    margin-bottom: 30px;
    margin-top: 20px;
}
.st-tour-feature .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.st-tour-feature .item .icon {
    margin-right: 20px;
}
.st-tour-feature .item .info .name {
    font-size: 14px;
    color: var(--main-color, #1A2B48);
    margin: 0;
    margin-bottom: 3px;
}
.st-tour-feature .item .info .value {
    font-size: 14px;
    color: var(--grey-color, #5E6D77);
    margin: 0;
}

.highlights{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 10px;
}
.highlights h2{
    margin-bottom: 20px;
}
.itinerary .content {
    border-left: 2px solid #d8d8d8;
    padding-left: 32px;
    padding-top: 18px;
}
.book-form{
    padding: 10px;
    border: 3px solid #29107f;
}
.book-form .head{
    text-align: center;
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    background-color: #29107f;
    color: white;
}
.float-whatsapp{
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.float-whatsapp .my-float{
	margin-top:16px;
	color:white;
}

@media (max-width: 1200px) {
    .section.subscribe .container {
        flex-direction: column;
    }
    .section.subscribe .headings{
        margin-bottom: 40px;
    }
}
@media (max-width: 992px) {
    .section.subscribe input[type="text"] {
        width: 230px;
    }

}
@media (max-width: 768px) {
    #jssor_1{
        width: 100% !important;
    }
    .sliders .slider-item .content-t h3 {
        font-size: 28px;
    }
    .sliders .slider-item .content-t h4 {
        font-size: 22px;
    }
    .headbar .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .headbar .container .social-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .headbar .container .social-info .social-icons {
        margin-right: 0px;
        padding-right: 0px;
        border-right: 0px solid #6B6092;
        margin-bottom: 10px;
    }
    .headbar .container .social-info .mail{
            margin-bottom: 10px;
    }
    .section.subscribe input[type="text"] {
        width: 210px;
    }
}
@media (max-width: 500px) {


}
